/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #040404;
  position: relative;
  z-index: 0;
  height: 100vh;
}

.background {
  position: fixed;
  z-index: -1;
  transform: scale(1.5) rotate(-38deg);
  top: -3em;
  right: -12em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 2.441rem;
  }

  h2 {
    font-size: 1.953rem;
  }

  h3 {
    font-size: 1.563rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .background {
    transform: scale(2) rotate(-38deg);
    right: -14em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  .background {
    transform: scale(2.5) rotate(-38deg);
    right: -14em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 3.815rem;
  }

  .background {
    transform: scale(3) rotate(-38deg);
    right: -14em;
  }
}

/* Extra large devices (large desktops, 14000px and up) */
@media (min-width: 1400px) {
  .background {
    transform: scale(5) rotate(-38deg);
    top: 0;
    right: 0;
  }
}

/* QHD (QHD desktops, 2500px and up) */
@media (min-width: 2500px) {
  .background {
    transform: scale(7) rotate(-38deg);
    top: 0;
    right: 0;
  }
}

/* 4k (UHD desktops, 3800px and up) */
@media (min-width: 3800px) {
  h1 {
    font-size: 4.768rem;
  }

  h2 {
    font-size: 3.052rem;
  }

  h3 {
    font-size: 2.441rem;
  }

  h4 {
    font-size: 1.953rem;
  }

  .background {
    transform: scale(12) rotate(-38deg);
    top: 0;
    right: 0;
  }
}

/* 5k (Apple retina screens, 5000px and up) */
@media (min-width:5000px) {
  .background {
    transform: scale(15.5) rotate(-38deg);
    top: 0;
    right: 0;
  }
}