.navbar {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  z-index: 1;
}

.navbar-main {
  padding: 1em;
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-main::after {
  content: '';
  width: 32px;
  margin-right: 1em;
}

#nav-button {
  margin-right: 1em;
}

#nav-button:hover {
  cursor: pointer;
}

.navbar-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 3em 0 2em;
  background-color: #070707;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .2s ease-out;
}

.navbar-navigation>li {
  font-size: 10pt;
}

.navbar-navigation>li+li {
  margin-top: 2em;
}

.navbar-navigation>li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity .2s ease-out;
  font-weight: 500;
}

.navbar-navigation>li .highlight {
  font-weight: 600;
}

.navbar-title {
  color: #FFF;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.navbar-title::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  left: 15%;
  bottom: -0.2em;
  background-color: #FFF;
  transition: all 0.3s;
}

.navbar-title:hover::after {
  width: 100%;
  left: 0;
}

.navbar-navigation .selected {
  background-color: #161616;
  border-radius: 1.5em;
  padding: 0.8em 1.2em;
}

.navbar-social {
  display: none;
}

.show-navigation {
  transform: scaleY(1);
}

.navbar-navigation>li .show-link {
  opacity: 1;
}

.navbar-navigation .social-icons {
  padding: 0;
  margin-top: 4em;
  align-self: flex-end;
  margin-right: 2.2em;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.navbar-navigation .show-icons {
  opacity: 1;
}

.navbar-navigation .social-icons li {
  display: inline-block;
}

.navbar-navigation .social-icons li+li {
  margin-left: 1em;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    background: #070707;
    display: flex;
    justify-content: space-between;
  }

  .navbar-main {
    padding: 1em 2em;
  }

  .navbar-main::after {
    content: '';
    width: 0;
    margin-right: 0;
  }

  #nav-button {
    display: none;
  }

  .navbar-navigation {
    margin-left: 1.5em;
    transform: scaleY(1);
    flex-direction: row;
    padding: 1.5em 0;
  }

  .navbar-navigation li a {
    display: inline-block;
    opacity: 1;
    transition: transform 0.2s ease-out;
    padding: 0.8em 0;
  }

  .navbar-navigation li a:hover {
    transform: translateY(-6px);
  }

  .navbar-navigation>li+li {
    margin-top: 0;
    margin-left: 2em;
  }

  .navbar-social {
    display: block;
    align-items: center;
    list-style-type: none;
    align-self: center;
    margin-left: 3em;
    padding: 1em 2em;
  }

  .navbar-social>li {
    display: inline-block;
    font-size: 9pt;
  }

  .navbar-social li a {
    color: #FFF;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 500;
  }

  .navbar-social li a span {
    display: none;
  }

  .navbar-social li a {
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
  }

  .navbar-social li a:hover {
    opacity: 1;
  }

  .navbar .navbar-social li+li {
    margin-left: 1.3em;
  }

  .navbar-navigation .social-icons {
    display: none;
  }

  .navbar-left {
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar {
    justify-content: space-between;
    padding: 0 7%;
  }
}

/* Extra large devices (large desktops, 14000px and up) */
@media (min-width: 1400px) {
  .navbar .navbar-social li+li {
    margin-left: 4em;
  }

  .navbar-social li a {
    display: flex;
    align-items: center;
  }

  .navbar-social li a span {
    display: inline;
    margin-left: 1.7em;
  }
}

@media (min-width: 1800px) {
  .navbar {
    padding: 0 15%;
  }
}

/* 4k (UHD desktops, 3800px and up) */
@media (min-width: 3800px) {
  .navbar {
    padding: 0 25%;
  }
}